[Unit]
Description=Open5GS PCF Daemon
Wants=mongodb.service mongod.service

[Service]
Type=simple

User=root
User=root

Restart=always
ExecStart=/bin/open5gs-pcfd -c /home/ops/nf_configs/pcf.yml
RestartSec=2
RestartPreventExitStatus=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
