#cloud-config
version: 2
ethernets:
    {%- for inface in interfaces %}
    {{ inface.name }}:
        match:
            macaddress: {{ inface.mac }}
        addresses:
        {%- for addr in inface.addresses %}
            - {{ addr }}/24
        {%- endfor %}
        dhcp4: false
        gateway4: {{ inface.gateway4 }}
        nameservers:
            addresses: [{{ inface.dns_servers }}]
        set-name: {{ inface.name }}
    {%- endfor +%}
