#cloud-config
hostname: {{ hostname }}
manage_etc_hosts: true
users:
  - name: ops
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      {%- for key in keys %}
      - {{ key }}
      {%- endfor %}
ssh_pwauth: true
disable_root: false
chpasswd:
  list:
    - ops:ops
  expire: false

package_update: true
{% if packages %}
packages:
  {%- for package in packages %}
  - {{ package }}
  {%- endfor %}
{% endif %}

final_message: "The system is finally up, after $UPTIME seconds"
