db_uri: mongodb://localhost/open5gs

logger:
    file: /open5gs/install/var/log/open5gs/bsf.log
bsf:
    sbi:
      - addr: {{ bsf.sbi_ip }}
        port: 7777

nrf:
    sbi:
      - addr:
          - {{ nrf.sbi_ip }}
          - ::1
        port: 7777

parameter:

max:

pool:

time:
