logger:
    file: /open5gs/install/var/log/open5gs/smf.log

smf:
    sbi:
      - addr: {{ smf.sbi_ip }}
        port: 7777
    pfcp:
      - addr: {{ smf.pfcp_ip }}
    gtpc:
      - addr: {{ smf.gtpc_ip }}
    gtpu:
      - addr: {{ smf.gtpu_ip }}
    subnet:
      {%- for upf in upfs %}
      {%- for net in upf.nets %}
      - addr: {{ net.ip }}
        dnn: {{ net.dnn }}
      {%- endfor %}
      {%- endfor %}
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 2001:4860:4860::8888
      - 2001:4860:4860::8844
    mtu: 1400
    freeDiameter: /open5gs/install/etc/freeDiameter/smf.conf

nrf:
    sbi:
      - addr:
          - {{ nrf.sbi_ip }}
          - ::1
        port: 7777

upf:
    pfcp:
      {%- for upf in upfs %}
      - addr: {{ upf.pfcp_ip }}
        dnn: {{ upf.nets | selectattr('dnn') | map(attribute='dnn') | list }}
      {%- endfor %}

parameter:

max:

pool:

time:
