logger:
    file: /open5gs/install/var/log/open5gs/upf.log

upf:
    pfcp:
      - addr: {{ pfcp_ip }}
    gtpu:
      - addr: {{ gtpu_ip }}
    subnet:
      {%- for net in nets %}
      - addr: {{ net.ip }}
        dnn: {{ net.dnn }}
        dev: {{ net.dev }}
      {%- endfor %}

smf:

parameter:

max:

pool:

time:
